[Unit]
Description=Simeis Server service
After=network.target

[Service]
ExecStart=/usr/bin/simeis-ALP
Restart=always
User=simeis-ALP

[Install]
WantedBy=multi-user.target
